:root {
    --primary-color: #1e3a5f;
    --secondary-color: #2a9d8f;
    --accent1-color: #143f2b;
    --accent2-color: #e9c46a;

    --heading-font: Arial, sans-serif;
    --body-font: Georgia, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;

    background-color: var(--accent2-color);
    color: black;
    opacity: 0.75;
}

.hero article img {
    float: right;
    width: 125px;
}